* {
    margin: 0;
    padding: 0;
    align-items: center;
}

/*headrer*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.logo {
    border-radius: 74px;    
}

.nav {
    display: flex;
    gap: 35px;
    list-style: none;
}

a {
    text-decoration-line: none;
            -moz-text-decoration-line: none;
            -moz-text-decoration-style: none;
}

.list-header {
    color: pink;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    border-radius: 74px;    
}



/*header */

#title {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(144, 9, 56);
    margin: 10px;
    text-align: center;
}
#subtitle {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(137, 21, 59);
    text-align: center;
}

fieldset {
    border: 0;
    background-color: pink;
    padding: 25px;
    display: flex;
    text-align: center;
    border-top: 1.4px solid brown ;
    justify-content: center;
}

body {
    font-size: 100%;
    background-color: white;
    font-family: sans-serif;
    font-size: 1em;
    color: crimson;
    justify-content: center;
    
}

input, select, textarea, button {
    border-radius: 5px;
    justify-content: center;
    background-color: white;
    font-family: sans-serif;
    font-size: 1em;
    color: crimson;
    margin: 8px;
    justify-content: center;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    color: crimson;
    display: block;
    justify-content: center;
}

fieldset.grupo .campo {
    float: left;
    justify-content: center;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    justify-content: center;
    text-align: center;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: seashell;
}

.button {
    font-size: 1.2em;
    background-color: grey;
    border: 0;
    margin-bottom: 1em;
    color: palevioletred;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
    position: absolute;
    transform: translate(-50%, -50%);
}

.button :hover {
    background: crimson;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#check {
    display: inline-block;
}

.form {
    padding: 12px;
    background-color: pink;
    border-top: 1.4px solid brown;
    justify-content: center;
    justify-content: center;
}

.lil-babys {
    justify-content: center;
    padding: 10px;
    display: block;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: palevioletred  1px 2px 2px rgba(0,0,0,0.2);
    
}

.footer {
    padding-top: 10px;
    border-top: 3.4px solid white ;    
    background-color: black;

}

.img-logo-footer {
    display: block;
    margin: 0 auto;
    border-radius: 60px;
}


.timer {
    text-align: center;
    padding: 10px;
    justify-content: center;
}

.send {
    padding: 12px;
    background-color: palevioletred;
    color: antiquewhite;
    border-radius: 35px;
}